/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 

/* Provider Languages */
#cvmi_provider_languages_settings {
  /*background-color: #ffffff; */
}
#cvmi_provider_languages_settings .use-shortcode {
  margin-left: 1em;
}
#cvmi_provider_languages_settings .cvmi-section {
  background-color: #ffffff;
  border: solid 1px #dddddd;
  margin: 0.25em 0;
}
#cvmi_provider_languages_settings .cvmi-section > .cvmi-section-header {
  background-color: #eeeeee;
  padding: 0.5em;
  margin-top: 0;
}
#cvmi_provider_languages_settings .cvmi-section > .cvmi-section-header > input.cvmi-section-heading {
  font-weight: bold;
}
#cvmi_provider_languages_settings ul.cvmi-provider {
  border-bottom: 1px solid #dddddd; 
  padding: 1em 0;
}
#cvmi_provider_languages_settings ul > li > ul  li {
  display: block;
  margin-left: 1.5em;
}
#cvmi_provider_languages_settings button.cvmi {
  display: block;
  margin: 1em;
}
#cvmi_provider_languages_settings button.cvmi-remove-provider {
  display: inline;
  float: right;
  margin: 0 1em;
}
#cvmi_provider_languages_settings button.cvmi-new-section {
  display: inline;
  margin: 1em; 
}
#cvmi_provider_languages_settings button.cvmi-remove-section {
  display: inline;
  margin-right: 2.5em;
  color: #ac0000;
  background-color: #ffffff;
  float: right;
}
#cvmi_provider_languages_settings button.cvmi-new-provider {
  display: inline;
  margin: 1em 2em;
}
#cvmi_provider_languages_settings button.cvmi-remove-section {
  display: inline !important;
  margin: 1em 2em !important;
}
